[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
simple-websocket-server = "*"
requests = "*"
xmltodict = "*"
pyserial = "*"
uvicorn = {extras = ["standard"], version = "*"}
psutil = "*"
pypiwin32 = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
